@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 0;
}